body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: auto;
  border: 8px solid white;
}

.title {
  padding: 8px;
  background: #e3f4ff;
  font-size: 16px;
}

.content {
  padding: 16px 8px;
  background: #e3f4ff;
}

.button-container {
  padding: 8px;
  background: #e3f4ff;
  margin: 8px auto;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: auto;
  padding: 8px 24px;  
}